body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: wheat;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    width: 50%;
}
input{
    background-color: black;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    font-family: sans-serif;
    width: 100%;
}
button{
    width: 100%;
    background-color: crimson;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 5px;
}